<p>Hi <%= @user.name %>,</p>

<p>
Welcome to OyeBuddy! Click <%= link_to "here", edit_account_activation_url(@user.activation_token, email: @user.email) %> to activate your account and start creating your own groups.
</p>
